*.git
*.bin
*.class
*.log
*.lock
*.cfg
*.gz
*.settings
*.iml
*.ipr
*.iws
*.idea
/bin
/build
/classes
/config
/crash-reports
/idea
/logs
/mods
/resourcepacks
/run
/saves
/out
usernamecache.json
usercache.json
options.txt
.classpath
*.class
config/forge.cfg
*.gz
*.log
.gradle/gradle.log
.gradle
